@charset "UTF-8";

.categorias{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: auto;
}

.categorias button{
	width: 20px;
	height: 20px;
	margin-left: 5px;
}

.categorias p{
	margin-top: 2px;
	font-family: Arial;
	color: #000;
}

.contanier{
	width: 80%;
	margin: auto;
}

.contanier h2{
	margin-top: 100px;
	text-align: center;
	font-size: 30px;
	font-family: Arial;
}

.contanier p{
	text-indent: 1em;
	margin-top: 5px;
	font-size: 20px;
	font-family: Arial;
}

.list h3{
	font-size: 25px;
	font-family: Arial;
}

.sublist{
	list-style: square;
	font-size: 17px;
	font-weight: bold;
	margin: 5px 0 20px 0;
}