@charset "ISO-8859-1";

table{
	width: 95%;
	margin: auto auto 30px auto;
}

td{
	padding: 3px;
	border-radius: 5px;
	margin-left: 3px;
}

a{
	display: flex;
	flex-direction: column;;
}
.num{
	align-items:initial;
	color: #000;
}

.symbol{
	margin-top: -5px;
	margin-bottom: 10px;
	align-items: center;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	font-family: Arial;
	color: #000;
}

.name{
	margin-bottom: 5px;
	text-align: center;
	color: #000;
	font-size: 12px;
}

.vaz{
	text-align: center;
	font-weight: 600;
}

.pulo{
	padding: 20px;
}

.naomt{
	background: #9ACD32;
}

.gasnobre{
	background: #1E90FF;
}

.mtalcalinos{
	background: #FFA500;
}

.mtalcalinosterro{
	background: #CDCD00;
}

.semimt{
	background: #58A3AB;
}

.halogenio{
	background: #65ACDD;
}

.outromt{
	background: #ABC1DD;
}

.mttransi{
	background: #F08080;
}

.lantanideos{
	background: #87CEFF;
}

.actinideos{
	background: #CD96CD;
}






