<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<head>
		<meta charset="UTF-8">
		<title>Tabela Periodica</title>
		<link rel="stylesheet" type="text/css" href="../css/EstilosGerais.css">
		<link rel="stylesheet" type="text/css" href="../css/detalis.css">
		<link rel="stylesheet" type="text/css" href="../css/responsivo.css">
	</head>
	
	<body>
		<main>
	
		<header class="cabecario">
			<nav class="cabecario-nav">
				<a href="/elementos">QUÍMICA ELEMENTAR</a>
			</nav>
		</header>
		
		
					<table>
		            	<tr>
		            		<td>
			            		<span>Símbolo</span>
			            	</td>
			            	<td>
			            		<span th:text ="${page.symbol}"></span>
			            	</td>
		            	<tr>
		            		<td>
			            		<span>Número Atômico</span>
			            	</td>
		            		<td>
		            			<span th:text="${page.numberAtomic}"></span>	            			
		            		</td>
		            	</tr>
		            	<tr>
		            		<td>
			            		<span>Categoria</span>
			            	</td>
			            	<td>		            	
			            		<span th:text="${page.category}"></span>
			            	</td>
		            	</tr>
		            </table>
		            <h1 class="title"><span th:text="${page.name}"></span></h1>
		            
		            <section class="corpo">
		            
		                <p><span th:text="${page.text}"></span></p>
		            </section>
       		 	
       		 	<footer>
					<p>By JS</p>
				</footer>
		</main>
		
	</body>
	
</html>