<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

	<head>
	
		<meta charset="UTF-8">
		<title>Tabela Periodica</title>
		
		<!-- Bootstrap -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
		
		<!-- Import Google Icon Font -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

	    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
	    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
	</head>
	
	
		
	<body>
	
		<header>
		
			<!-- Cabeçario -->
			<nav>
			    <a href="/elementos">QUÍMICA ELEMENTAR</a>
			</nav>
			
		</header>
		
		<section>

					<!--<th:block th:include="msgValidacao"></th:block>  -->
					<form method="post">

		                <input type="text"  name="name" placeholder="Name *">
		                <input type="text"  name="category" placeholder="Category *">
		                <input type="text"  name="symbol" placeholder="Symbol *">
		                <input type="text"  name="numberAtomic" placeholder="Number Atomic *">
		                <textarea id="summernote" type="text" name="text" placeholder="Text *"></textarea>
		                <small>(*) Campos obrigatórios</small>
		                <button type="submit">Publicar</button>
		                <a href="/newpost"  role="button">Cancelar</a>
		            
		            </form>

		</section>
		
		<footer>
			
			<p>@By JS - 2022</p>
			
		</footer>
		
		<!-- Implementa o bloco de escrita de texto do google -->
		<script>
			$('#summernote').summernote({
				placeholder: 'Texto *',
				tabsize: 1,
				height: 300
			});
		</script>
	
	</body>
	
</html>